
.container{
  width: 1180px;
  margin: 0 auto;
  padding:0;
}
 body{
  font-family: 'Recoleta';
} 
.header{
  display: flex;
  background: #163A24;
}
.header-logo{
 margin-top: 23px;
 margin-bottom: 34px;
  margin-right: 678px;
}
.header-ul{
  display: flex;
  margin-top: 41px;
}
.header-li{
  list-style: none;
}
.header-li-a1{
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}
.header-li-a2{
  text-decoration: none;
  color: #fff;
  margin-right: 24px;
}
.header-a{
  width: 92px;
  height: 22px;
  padding: 15px 25px;
  background-color: #198C36;
  border-radius: 160px;
  text-decoration: none;
  color: #fff;
  margin-top: 21px;
  margin-bottom: 25px;
  font-size: 16px;
}
.section1{
  display: flex;
  background-color: #163A24;
}
.section1-div{
  margin-top: 120px;
  margin-right: 22px;
  margin-bottom: 129px;
}
.section1-h1{
  font-size: 42px;
  color:#FBFAF7;
}
.section1-p{
  font-size: 18px;
  color: #fff;
}
.section2-div{
  display: flex;
}
.section2-div-div{
  margin: 130px 99px 0px 98px;
}
.section2-div-h2{
  font-size: 48px;
  color:#163A24;
  margin-top: 261px;
  margin-right: 167px;
}
.section2-div-p{
  font-size: 18px;
  color:#163A24;
  width: 374px;
  height: 54px;
}
.section2-button{
  display: flex;
}
.section2-right-h2{
  font-size: 48px;
  color:#163A24;
  margin: 115px 118px 27px 98px;
}
.section2-right-p{
  font-size: 18px;
  color:#163A24;
  width: 380px;
  height: 54px;
  margin-left: 98px;
  /* Line-height :27px; */
}
.section3-h2{
  text-align: center;
  font-size: 48px;
  color:#163A24;
  font-weight: 600px;
  margin-top: 115px;
}
.section3-ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section3-li{
  list-style: none;
}
.section3-li-img{
  list-style: none;
}
.section4{
  background-color: #163A24;
}
.section4-h2{
  padding-top: 66px;
  text-align: center;
  font-size: 48px;
  color: #FBFAF7;
}
.section4-ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 139px;
  padding-top: 66px;
  list-style-type: none;
}
.section4-li-p{
  color:#FBFAF7;
  font-size: 18px;
  width: 198px;
  height: 27px;
}

.section5{
  background-color:#F2EFE6;
}
.section5-div{
  padding-top: 119px;
  padding-bottom: 119px;
}
.section5-h2{
  text-align: center;
  font-size: 48px;
  color:#163A24;
  height: 108px;
  /* padding-top: 114px;
  padding-left: 220px;
  padding-right: 220px; */
}
.section5-p{
  font-size: 18px;
  color: #163A24;
  text-align: center;
  padding-top: 27px;
  padding-left: 210px;
  padding-right: 210px;
}

.section6-div{
  display: flex;
  margin-top: 180px;
}
.section6-div-left{
  margin-top: 93px;
  margin-left: 98px;
  margin-right: 115px;
  margin-bottom: 117px;
  font-size: 48px;
}
.section6-h2{
  font-size: 48px;
  color: #163A24;
}
.section6-p{
  font-size: 18px;
  color: #163A24;
}
.section6-ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 18px;
}
.section6-div-h2{
  font-size: 48px;
  color: #163A24;
  text-align: center;
}
.section6-div-p{
  font-size: 18px;
  color: #163A24;
  text-align: center;
}
.section6-li1{
  background-color: #FBFAF7;
  width: 353px;
  height: 393px;
}
.section6-li2{
  background-color: #FBFAF7;
  width: 353px;
  height: 430px;
}
.section6-li3{
  background-color: #FBFAF7;
  width: 353px;
  height: 393px;
}
.section6-li-div{
  padding: 50px 12px 66px 40px;
}


.section7{
  background-color:#F2EFE6;
}
.section7-div1{
  padding-top: 120px;
  padding-bottom: 120px;
}
.section7-h2{
  font-size: 47px;
  color: #163A24;
  text-align: center;
}
.section7-p{
  font-size: 18px;
  color: #163A24;
  text-align: center;
}
.section7-div{
  display: flex;
  justify-content: space-between;
}
.section7-li{
  list-style: none;
}
.section7-div-p1{
  font-size: 18px;
  color: #163A24;
  width: 260px;
  height: 54px;
  text-align: center;
}
.section7-div-p2{
  color: #163A24;
  font-size: 28px;
  text-align: center;
  /* B BERGANIMDA TEXT ALIGN CENTER ISHLAMAY QOLDI */
}
.section7-img{
  margin-top: 70px;
}
.section7-a{
  padding: 15px 25px;
  background-color:#198C36;
  border-radius: 160px;
  text-decoration: none;
  color: #fff;
  width: 244px;
  height: 52px;
  margin: 5px 468px 124px 468px;
}

.section8{
  margin-top: 119px;
  margin-bottom: 119px;
}
.section8-div{
  display: flex;
}
.section8-div-left{
  padding: 136px 132px 146px 98px;
}
.section8-left-h2{
  font-size: 48px;
  color:#163A24;
}
.section8-left-p{
  font-size: 18px;
  color: #163A24;
  width: 287px;
  height: 27px;
  display: block;
  margin-bottom: 50px;
}
.section8-left-a{
  padding: 15px 25px;
  background-color:#198C36;
  border-radius: 160px;
  width: 191px;
  height: 52px;
  text-decoration: none;
  color: #fff;
  
}
.section8-right-img{
  margin-right: 99px;
  margin-top: 10px;
}

.section9-div{
  display: flex;
  justify-content: space-between;
  background-color:#163A24;
}
.section9-div-h2{
  font-size: 48px;
  color:#FBFAF7;
  
}
.section9-div-p{
  font-size: 18px;
  color: #FBFAF7;
  text-align: center;
  height: 27px;
}
.section9-div-button{
  padding: 15px 25px;
  background-color:#FAB5A0;
  border-radius: 160px;
  width: 258px;
  height: 52px;
  border: none;
  margin-left: 145px;
}

.section10{
  background-color:#F2EFE6;
}
.section10-div{
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section10-h2{
  font-size: 48px;
  color: #163A24;
}
.section10-p{
  font-size: 18px;
  color: #163A24;
  width: 299px;
  height: 27px;
}
.section10-a{
  padding: 15px 25px;
  background-color:#15762E;
  border-radius: 160px;
  text-decoration: none;
  color: #fff;
}
.section10-p2{
  font-size: 14px;
  width: 524px;
  height: 42px;
  color: #163A24;
}
 .section10-input{
  width: 403px;
  height: 44px;
  background: #FFFFFF;
  border:none;
  border-radius: 155px;
} 
.secion10-div-right{
  margin-top: 60px;
  margin-left: 248px;
}

/* END OF MAIN */

.footer-div{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 43px;
}
.footer-h2{
  font-size: 24px;
  color:#163A24;
}
.footer-ul{
  display: flex;
  align-items: center;
  list-style: none;
}
.footer-li{
  display: flex;
  padding-left: 14px;
}
.footer-hr{
  color:#F2EFE6;
}
.footer-div2{
  display: flex;
  justify-content: space-between;
}
.footer-ul2{
  display: flex;
  list-style: none;
}
.footer-ul2-a{
  text-decoration: none;
  color:#198C36;
  padding-left: 14px;
}


